<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Blog Education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          <img src="https://scontent.fhan5-10.fna.fbcdn.net/v/t1.6435-1/cp0/p40x40/170258975_1882600795226182_5396807549065578296_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=7206a8&_nc_ohc=OuJglq5YPyEAX9_J1Xd&_nc_ht=scontent.fhan5-10.fna&oh=67ef6c9e3fd7ff4fafc462edd3166b74&oe=61804853" alt="avatar" class="user-avatar">
            Huyct
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Add</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">My Courses</a>
            <a class="dropdown-item" href="/me/stored/news">Newsfeed</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sign out</a>
          </div>
        </li>

      </ul>

    </div>
  </div>
</nav>