<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Search...</label>
      <input
        type="text"
        class="form-control"
        name="q"
        id="search-input"
        placeholder="Word to search..."
      />
    </div>

    <div class="form-group">
      <label for="gender-input">Search...</label>
      <select
        name="gender"
        class="form-control"
        id="gender-input"
      >
      <option value="">Sex</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      </select>
    </div>
   
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>